div.st-emotion-cache-ixecyn.e1f1d6gn0{
    border: 1px solid green;
    aspect-ratio: 16 / 9;
    background-color: white;
    height: fit-content;
    max-height: 90vh;
}

div.st-emotion-cache-z5fcl4.ea3mdgi2{
    padding: 20px;
    padding-top: 30px;
}

div.vega-actions{
    padding: 0;
}

@media screen and (max-width:1300px) {
    div.st-emotion-cache-ixecyn.e1f1d6gn0{
        max-height: 100vh;
    }
}


[data-testid="stVerticalBlockBorderWrapper"]{
    max-height: fit-content;
}

div.st-emotion-cache-1clstc5.eqpbllx1 {
    width: 100%;
}

div.st-emotion-cache-10ijpeg.eqpbllx2{
    width: 100%;
}

div.dvn-scroller.glideDataEditor{
    width: 100%;
    overflow:scroll;
}

div.dvn-scroll-inner.hidden{
    overflow: hidden;
}

div.st-emotion-cache-1clstc5.eqpbllx1{
    background-color: white;
}


div{
    margin: 0;
}

div.st-emotion-cache-19mign.e1f1d6gn2{
    margin: 0;
    padding: 0;
    top: 0;
}

div.stNumberInput{
    max-width: 150px
}

div.st-emotion-cache-1l05b00.e1f1d6gn2{
    height: 100vh;
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    gap: 20px

}

button.st-emotion-cache-1x5kdwo.ef3psqc12{
    position: absolute;
    top: 20px;
    right: 0;
}

 
div.s1jz82f8 > div.dvn-scroller.glideDataEditor {
    width: 100%;
}